* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-section1 {
    height: 70px;
    width: 100%;
    position: fixed;
    background-color: #ffffff;
    background-size: cover;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 1030;
}
.flipkart-logo {
    background-image: url("images/flipkart-logo.png");
    height: 40px;
    background-size: cover;
    width: 120px;
}

.input-section-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.search-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F4;
    height: 40px;
    width: 40px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.nav-search-input {
    background-color: #F4F4F4;
    height: 40px;
    width: 720px;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    outline: none;
}
.login-section {
    width: 500px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.login-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    color: black;
}
.login-button :hover a {
    color: white;
}
.login_button:hover {
    background-color: #1560db;
    height: 40px;
    width: 110px;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 8px;
}
.login-section a {
    text-decoration: none;
}
.login_button:hover .login-button-dropdown{
    display: block;
    color: black;
}
.login_button:hover .login-text{
    color: white;
}
.login-button-dropdown {
    display: none;
    background-color: white;
    position: absolute;
    top: 57px;
    right: 320px;
    min-width: 240px;
    box-shadow: 2px 2px 2px 2px #F4F4F4;
    z-index: 1020;
    border: 1ps solid black;
}
.login-button-dropdown-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
    padding: 0px 12px 0px 12px;
    margin: 0px;
    border-bottom: 1px solid #c9c9c9;
}
.login-button-dropdown-heading p{
    margin-top: 14px;
    font-size: 15px;
    /* border: 1px solid black; */
}
.login-button-dropdown-heading a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: double;
    color: dodgerblue;
}
.login-button-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid black; */
    padding: 8px 12px 8px 12px;
}
.login-button-options:hover {
    background-color: #F4F4F4;
}
.login-button-options p {
    margin: 0px 0px 0px 12px;
    font-size: 14px;
}
.nav-logos {
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
}
.login-text {
    font-size: 16px;
    margin-top: 5px;
    color: black;
}


/***** Drop Down button Starts Here *****/
/* dropdown section */

.nav_bar_product_section:hover .dropdown-content {
    display: block;
}
.nav_bar_product_section:hover  span{
    color: dodgerblue;
}
.dropdown-content {
    display: none;
    background-color: white;
    position: absolute;
    top: 190px;
    min-width: 250px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #F4F4F4;
    z-index: 1020;
}
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 12px;
    font-size: 13px;
}
.dropdown-content-items-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 12px;
}
.dropdown-content .dropdown-content-items-part:hover  {
    background-color: #f3f3fcf2;
    font-weight: bold;
}
.dropdown-content .dropdown-content-items-part:hover .display-arrow {
    display: block;
}
.display-arrow {
    display: none;
}
.dropdown-content-items-part:hover .sub-dropdown {
    display: inline-block;
}
.sub-dropdown a:hover {
    background-color: #f3f3fcf2;
    font-weight: bold;
}
.selected {
    background-color: #f3f3fcf2;
}
.sub-dropdown {
    display: none;
    background-color: white;
    position: absolute;
    left: 100%;
    top: 0;
    min-width: 250px;
    min-height: 600px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #F4F4F4;
    z-index: 1020;
}
.sub-dropdown a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 12px;
    font-size: 12px;
    font-weight: 100;
}
  /****** Drop Down Button Ends Here ******/

/*** NAV BOTTOM SECTION **/
.bg-container {
    background-color: #F4F4F4;
    background-size: cover;
    padding-top: 80px;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-right: 20px;
}
.nav-bottom-section {
    height: 125px;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-wrap: nowrap;
    
}
.nav_bar_product_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    height: 100px;
    width: 100px;
    flex-direction: column;
}

.nav_bar_product_section span {
    text-align: center;
    color: #333333;
    font-size: 14px;
    font-weight: 600;
}
.carosel_container {
    height: 34vh;
    margin-top: 18px;
    width: 100%;
}

.product_section_1 {
    height: 45vh;
    width: 100%;
    margin-top: 18px;
    background-color: white;
    padding: 12px;
    padding-top: 20px;
}
.product_section_1 h2 {
    font-size: 20px;
    color: #212121;
    font-weight: 600;
    margin-bottom: 25px;
    margin-left: 12px;
}
.product_sub_container {
    border-radius: 3px;
    height: 255px;
    width: 210px;
    padding: 6px;
    text-align: center;
    border: 1px solid black;
}
.product_section1_subContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.product_image_holder {
    height: 190px;
    width: 190px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_sub_container span {
    color: #212121;
    font-size: 14px;
    font-weight: 520;
    text-align: center;
}
.product_sub_container h5 {
    color: #212121;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}
.product_section_2 {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    margin-top: 15px;
}
.product_section_2_subContainer_1 {
    height: 100%;
    width: 35%;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: white;
    margin-right: 22px;
    display: flex;
    flex-direction: column;
}
.product_section_2_subContainer_2 {
    height: 100%;
    width: 65%;
    background-size: cover;
}
.product_section_2_subContainer_1 h2 {
    font-size: 22px;
    color: #212121;
    font-weight: 600;
    margin-bottom: 25px;
    margin-left: 12px;
    margin-top: 25px;
}
.product_section_2_subContainer_1_inner_container_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 45%;
    width: 100%;
    
}
.inner_container {
    width: 48%;
    height: 98%;
    border: 1px solid black;
    padding: 10px;
}
.top_Selection_image_holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 12px;
}
.inner_container span {
    font-size: 18px;
    color: #212121;
    margin-left: 6px;
}
.inner_container h2 {
    font-size: 18px;
    color: #108934;
    margin-left: 6px;
    margin-top: 3px;
}

.product_section_3 {
    width: 100%;
    height: 95vh;
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}
.product_section_3_inner_section {
    width: 32%;
    height: 100%;
    background-color: white;
    border-radius: 3px;
}
.product_section_3_inner_section h2 {
    font-size: 22px;
    color: #212121;
    font-weight: 600;
    margin-bottom: 25px;
    margin-left: 12px;
    margin-top: 25px;
} 
.discount_section_inner_container {
    width: 48%;
    height: 97%;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    border-radius: 3px;
}
.discount_section_inner_container span {
    font-size: 18px;
    color: #212121;
    margin-left: 6px;
}
.discount_section_inner_container h2 {
    font-size: 18px;
    color: #108934;
    margin-left: 6px;
    margin-top: 3px;
}

/*** Footer Section ****/
.footer-section {
    height: 42vh;
    width: 100%;
    background-color: #242424;
    padding: 25px;
}
.footer_inner_Section {
    height: 100%;
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: row;
}

.footer_Section_sub_container1 {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}
.footer_Section_sub_container2 {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-left: 1px solid #4c4a4a;
}
.footer-section-details_container {
    width: 48%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
.footer-section-details_container p {
    color: #878787;
    margin-bottom: 0;
    padding-bottom: 9px;
    font-weight: 600;
}
.footer-section-details_container li {
    font-size: 13px;
    color: white;
    font-weight: 600
}
.footer-section-details_container2 {
    width: 48%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding: 0;

}
.footer-section-details_container2 p {
    color: #878787;
    margin-bottom: 0;
    padding-bottom: 9px;
    font-weight: 600;
}
.footer-section-details_container2 li {
    font-size: 13px;
    color: white;
    font-weight: 600
}
.footer_Section_social_media_icons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 40px;
    padding-left: 30px;
}
.footer_Section_social_media_icons i{
    color: white;
    margin-right: 25px;
    font-size: 1.4rem;
}
.bottom_Section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: #212121;
    border-top: 1px solid #878787;
}
.bottom_Section_part {
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    width: 180px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}
.bottom_Section_part i{
    margin-top: 5px;
    color: gold;
}

.bottom_section_cards_img {
    background-image: url("images/visaCards_bottom_Section_img.png");
    background-size: contain;
    height: 20px;
    width: 320px;
}



/* /*** javascript class lists *** / */


.border-none {
    border: none;
}